<!-- featured_recipes.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Featured Recipes</h2>
        </div>
    </div>
    <div class="row">
        {% for recipe in featured_recipes %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.excerpt }}</p>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}