.footer {
    background-color: #333; 
    color: #fff;
}

.footer p {
    margin-bottom: 5px; 
}

.footer img {
    max-width: 100px; 
}

.card {
    border: none;
    background-color: transparent;
}

body {
    background-color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
}

.main-bg {
    background-color: #FFFFFF;
}

.card {
    border: none;
}

.image-container {
    position: relative;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: black;
    text-transform: uppercase;
}

______________________________________
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}
___________________________________________

.profile-image {
    width: 75%;
}

.recipe-link {
    text-decoration: none;
    color: #445261;
}

.recipe-link:hover,
.page-link {
    color: #A46877;
}

.recipe-title {
    margin-top: 10%;
    margin-left: 5%;
    font-weight: 700;
}


.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #A46877;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #A46877;
}

.btn-like:hover,
.btn-like:active {
    color: #A46877;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}